* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --capblack: #272a31;
  --caporange: #ec5242;
  --capgrey: #d3d3d3;
}

body {
  font-family: 'Lato', sans-serif;
}

main {
  width: 100%;
  margin: 0 auto;
}

#mobile-links {
  display: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #ffff;
  line-height: 30px;
  background-color: var(--capgrey);
}

.fa-x {
  margin: 25px 0 0 25px;
}

#mobile-links ul {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#mobile-links li {
  margin-left: 25px;
  list-style: none;
}

#mobile-links a {
  text-decoration: none;
  color: var(--capblack);
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.nav-bar-mobile div {
  height: 5px;
  margin: 5px;
  background-color: #545454;
}

.nav-bar-mobile {
  width: 40px;
  margin: 20px 0 0 20px;
  position: absolute;
  top: 0;
  background-color: transparent;
}

.intro {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url('images/mobile-header-bg.png');
  box-shadow: inset 0 0 0 1000px rgba(201, 200, 200, 0.4);
  background-size: cover;
  background-position: auto;
  background-repeat: no-repeat;
}

.intro-title h3 {
  margin-top: 30px;
  color: var(--caporange);
}

.intro-title h1 {
  font-family: 'Cocogoose Compressed Trial', sans-serif;
  font-weight: 900;
  background-image: url('images/crypto-letter.jpg');
  background-size: 100% 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 30px;
}

.intro-title h3,
h1 {
  margin-left: 20px;
}

.intro-text {
  background-color: var(--capgrey);
  padding: 10px;
  border: solid white;
  width: 90%;
  margin: 20px auto 0 auto;
}

.intro-date{
  margin: 40px 0 0 20px;
  color: var(--capblack);
}

.intro-date h2 {
  font-weight: 900;
}

.main-program {
  background-image: url(images/section-main.png);
  background-repeat: repeat;
  background-color: #272a32;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-program-title {
  text-align: center;
  color: var(--capgrey);
}

.orange-line {
  background-color: var(--caporange);
  width: 30px;
  height: 2px;
  margin: 10px auto 30px;
}

.main-program-element {
  display: flex;
  background-color: rgba(210, 210, 210, 0.2);
  color: white;
  padding: 15px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}

.main-program-element h3 {
  color: #ec5242;
  width: 30%;
  margin-right: 20px; 
}

.main-program-elements {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-program-element img {
  width: 30%;
  margin-right: 20px;
}

.mid-program {
  margin-top: 15px;
}

.join-button{
  margin-top: 40px;
  text-align: center;
}

.join-button button {
  padding: 1.5rem 2rem;
  font-size: 4vw;
  border: none;
  background-color: var(--caporange);
  color: var(--capgrey);
}

.featured-speakers {
  display: flex;
  flex-direction: column;
}

.featured-speakers-title h2 {
  text-align: center;
  margin-top: 30px;
}

.speaker {
  display: flex;
  margin: 20px;
}

.text-speaker {
  margin-left: 20px;
  margin-top: 10px;
}

.text-speaker h4 {
  margin: 10px 0;
  color: var(--caporange);
  font-style: italic;
}

.text-speaker p {
  font-size: 14px;
}

.gray-line {
  background-color: var(--capgrey);
  width: 20px;
  height: 2px;
  margin-bottom: 10px;
}

.button-speaker {
  text-align: center;
  padding-bottom: 30px;
}

.more-button {
  padding: 10px 0;
  font-size: 4vw;
  border: none;
  background-color: #ffff;
  border: solid 1px var(--capgrey);
  width: 90%;
}

.more-arrow {
  color: var(--caporange);
  font-weight: 800;
}

.other-speakers {
  display: none;
  flex-direction: column;
}

.partner-section {
  background-color: #b5b5b5;
  padding: 30px 0;
}

.partner-title {
  text-align: center;
}

.partners-logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
} 

.partners-logo img {
  display: block;
  width: 80%;
  margin: 0 auto;
}

#binance {
  margin-top: -50px;
}

#crypto {
  margin-top: -90px;
}

#coingecko {
  margin-top: -50px;
}

#coinmarketcap {
  margin-top: -90px;
}

#coinbase {
  margin-top: -140px;
}

footer {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  padding: 30px 0;
  width: 90%;
  margin: 0 auto;
}

footer img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}
